body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease; /* Smooth transition for color change */
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

button {
    font-size: 1rem;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#Start {
    background-color: rgb(46, 84, 117) ; 
    color: white;
}

#Stop {
    background-color: #5e534d; 
    color: white;
}

button:hover {
    opacity: 0.9;
}
